@using GoldenBarbers.Client.Services
@using System.Threading.Tasks
@using Shared.DTOs.Admin.Offerings

@inject AdminOfferingApiService OfferingsApiService
@inject NavigationManager Navigation
@inject Microsoft.Extensions.Localization.IStringLocalizer<SharedResources> L

@page "/admin/manage-offerings/create-offering"

<h3>@L["CreateOffering_Title"]</h3>
<br />

<EditForm Model="offering" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="admin-form">
        <div class="admin-form-item">
            <label>@L["Create_EditOffering_FormNameFi"] </label>
            <br />
            <InputText @bind-Value="@offering.NameFi" />
        </div>

        <div class="admin-form-item">
            <label>@L["Create_EditOffering_FormNameEn"] </label>
            <br />
            <InputText @bind-Value="offering.NameEn" />
        </div>

        <div class="admin-form-item">
            <label>@L["Create_EditOffering_FormDescriptionFi"] </label>
            <br />
            <InputTextArea @bind-Value="@offering.DescriptionFi" />
        </div>

        <div class="admin-form-item">
            <label>@L["Create_EditOffering_FormDescriptionEn"] </label>
            <br />
            <InputTextArea @bind-Value="offering.DescriptionEn" />
        </div>

        <div class="admin-form-item">
            <label>@L["Create_EditOffering_FormIcon"] </label>
            <br />

            @if (imagePreviewSrc != null)
            {
                <img src="@imagePreviewSrc" style="max-height: 100px;" />
                <br />
            }
            <InputFile OnChange="HandleFileSelected" />
        </div>

        <div class="admin-form-item">
            <label>@L["Create_EditOffering_FormSeniorPrice"] </label>
            <br />
            <InputNumber @bind-Value="@offering.SeniorPrice" />
        </div>

        <div class="admin-form-item">
            <label>@L["Create_EditOffering_FormJuniorPrice"] </label>
            <br />
            <InputNumber @bind-Value="@offering.JuniorPrice" />
        </div>

        <div class="admin-form-item">
            <label>@L["Create_EditOffering_FormTraineePrice"] </label>
            <br />
            <InputNumber @bind-Value="@offering.TraineePrice" />
        </div>

        <br />
        <button class="btn btn-outline-dark" type="submit" disabled=@IsSubmitting>@L["Create_EditOffering_ConfirmButton"]</button>
    </div>
</EditForm>


@code {
    private AdminOfferingDto offering { get; set; } = new AdminOfferingDto();

    private IBrowserFile? selectedFile;
    private string? imagePreviewSrc;

    private bool IsSubmitting { get; set; } = false;

    public async Task HandleValidSubmit()
    {
        IsSubmitting = true;

        var created = await OfferingsApiService.CreateOfferingAsync(offering, selectedFile);

        if (created != null)
        {
            Navigation.NavigateTo("admin/manage-offerings");
        }

        IsSubmitting = false;
    }

    private async Task HandleFileSelected(InputFileChangeEventArgs e)
    {
        selectedFile = e.File;

        if (selectedFile != null)
        {
            var imageStream = selectedFile.OpenReadStream();
            var buffer = new byte[imageStream.Length];
            await imageStream.ReadAsync(buffer);
            imagePreviewSrc = $"data:image/*;base64,{Convert.ToBase64String(buffer)}";
            StateHasChanged();
        }
    }
}
