@page "/admin"

@inject AdminDashboardApiService DashboardService
@inject AdminMetricApiService MetricService
@inject Microsoft.Extensions.Localization.IStringLocalizer<SharedResources> L

<div class="d-flex justify-content-center">
    <h1>@L["Dashboard_HelloAdmin"]</h1>
</div>
<br />
<div>
    @if (dashboard != null)
    {
        <DashboardCard RevenueToday="@dashboard.RevenueToday"
                       AppointmentsToday="@dashboard.AppointmentsToday"
                       UpcomingWeek="@dashboard.UpcomingWeek" />
    }
    else
    {
        <h1>@L["Dashboard_NoContent"]</h1>
    }
</div>
<br />
<div>
    @if (metrics != null)
    {
        <MetricsCard AppointmentsChangeCount="@metrics.AppointmentsChangeCount"
                     RevenueChangeCount="@metrics.RevenueChangeCount" />
    }
</div>

@code {

    private AdminDashboardDto? dashboard;
    private AdminMetricDto? metrics;

    protected override async Task OnInitializedAsync()
    {
        dashboard = await DashboardService.GetDashboardAsync();
        metrics = await MetricService.GetMetricsAsync();
    }
}
