@using GoldenBarbers.Client.Services
@using System.Threading.Tasks
@using Shared.DTOs.Admin.Offerings

@inject AdminOfferingApiService OfferingsApiService
@inject NavigationManager Navigation
@inject Microsoft.Extensions.Localization.IStringLocalizer<SharedResources> L

@page "/admin/manage-offerings/edit-offering/{Id:guid}"

<h3>@L["EditOffering_Title"]</h3>
<br />

@if (offering == null)
{
    <p>@L["Create_EditOffering_NotFoundInfo"]</p>
}
else
{
    <EditForm Model="offering" OnValidSubmit="HandleValidSubmit">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div class="admin-form">
            <div class="admin-form-item">
                <label>@L["Create_EditOffering_FormName"] </label>
                <br />
                <InputText @bind-Value="offering.Name" />
            </div>

            <div class="admin-form-item">
                <label>@L["Create_EditOffering_FormDescription"] </label>
                <br />
                <InputTextArea @bind-Value="offering.Description" />
            </div>

            <div class="admin-form-item">
                <label>@L["Create_EditOffering_FormIcon"] </label>
                <br />

                @if (!string.IsNullOrEmpty(offering.Icon))
                {
                    <img src="@offering.Icon" style="max-height: 100px;" />
                    <br />
                }
                <InputFile OnChange="HandleFileSelected" />
                
            </div>

            <div class="admin-form-item">
                <label>@L["Create_EditOffering_FormSeniorPrice"] </label>
                <br />
                <InputNumber @bind-Value="offering.SeniorPrice" />
            </div>

            <div class="admin-form-item">
                <label>@L["Create_EditOffering_FormJuniorPrice"] </label>
                <br />
                <InputNumber @bind-Value="offering.JuniorPrice" />
            </div>

            <div class="admin-form-item">
                <label>@L["Create_EditOffering_FormTraineePrice"] </label>
                <br />
                <InputNumber @bind-Value="offering.TraineePrice" />
            </div>

            <br />
            <button class="btn btn-outline-dark" type="submit" disabled=@IsSubmitting>@L["Create_EditOffering_ConfirmButton"]</button>
        </div>
    </EditForm>
}

@code {
    [Parameter]
    public Guid Id { get; set; }

    private AdminOfferingDto? offering;

    private IBrowserFile? selectedFile;

    private bool IsSubmitting { get; set; } = false;

    protected override async Task OnParametersSetAsync()
    {
        offering = await OfferingsApiService.GetOfferingByIdAsync(Id);

        if (offering == null)
        {
            await Task.Delay(1000);
            Navigation.NavigateTo("/admin/manage-offerings", forceLoad: true);
        }
    }

    public async Task HandleValidSubmit()
    {
        IsSubmitting = true;
        if (offering != null)
        {
            var success = await OfferingsApiService.EditOfferingAsync(
                offering.Id,
                offering,
                selectedFile);

            if (success)
            {
                Navigation.NavigateTo("admin/manage-offerings");
            }

            IsSubmitting = false;
        }

    }

    private void HandleFileSelected(InputFileChangeEventArgs e)
    {
        selectedFile = e.File;
    }
}
