@using GoldenBarbers.Client.Services;
@using System.Threading.Tasks
@using Shared.DTOs.Admin.Offerings

@inject AdminOfferingsApiService OfferingsApiService
@inject NavigationManager Navigation

@page "/admin/manage-offerings"

<h1>Manage Offerings</h1>

<table style="max-width: 75vw;" class="table table-striped">
    <thead>
        <tr>
            <th></th>
            <th>Name</th>
            <th>Description</th>
            <th>Senior Price</th>
            <th>Junior Price</th>
            <th>Trainee Price</th>
        </tr>
    </thead>
    <tbody>
        @if (offerings != null)
        {
            @foreach (var o in offerings)
            {
                <AdminOfferingsCard Id="@o.Id"
                                    Icon="@o.Icon"
                                    Name="@o.Name"
                                    Description="@o.Description"
                                    SeniorPrice="@o.SeniorPrice"
                                    JuniorPrice="@o.JuniorPrice"
                                    TraineePrice="@o.TraineePrice"
                                    OnDelete="DeleteOfferings"
                                    OnEdit="EditOffering"/>
            }
        }
    </tbody>
</table>
<div>
    <button class="btn btn-sm btn-outline-info" @onclick="CreateOffering">Create New Offering</button>
</div>
<div>
    <ConfirmDialog @ref="ConfirmDialog" />
</div>

@code {
    private List<AdminOfferingDto>? offerings;

    private ConfirmDialog? ConfirmDialog;

    protected override async Task OnInitializedAsync()
    {
        await LoadOfferings();
    }

    private async Task DeleteOfferings(Guid id)
    {
        if (await ConfirmDialog!.Show("Delete selected offering?", "Confirm deletion?"))
        {
            var success = await OfferingsApiService.DeleteOffering(id);

            if (success)
            {
                await LoadOfferings();
            }
        }
    }

    private void EditOffering(Guid id) => Navigation.NavigateTo($"/admin/manage-offerings/edit-offering/{id}");

    private void CreateOffering() => Navigation.NavigateTo($"/admin/manage-offerings/create-offering");

    private async Task LoadOfferings()
    {
        offerings = await OfferingsApiService.GetOfferings();
    }
}
