@using GoldenBarbers.Client.Services;
@using System.Threading.Tasks
@using Shared.DTOs.Admin.Offerings

@inject AdminOfferingApiService OfferingsApiService
@inject NavigationManager Navigation
@inject Microsoft.Extensions.Localization.IStringLocalizer<SharedResources> L

@page "/admin/manage-offerings"

<h1>@L["ManageOfferings_Title"]</h1>

<div class="table-responsive">
    <table style="max-width: 75vw;" class="table table-striped">
        <thead>
            <tr>
                <th></th>
                <th>@L["ManageOfferings_TableNameFi"]</th>
                <th>@L["ManageOfferings_TableNameEn"]</th>
                <th>@L["ManageOfferings_TableDescriptionFi"]</th>
                <th>@L["ManageOfferings_TableDescriptionEn"]</th>
                <th>@L["ManageOfferings_TableSeniorPrice"]</th>
                <th>@L["ManageOfferings_TableJuniorPrice"]</th>
                <th>@L["ManageOfferings_TableTraineePrice"]</th>
            </tr>
        </thead>
        <tbody>
            @if (offerings != null)
            {
                @foreach (var o in offerings)
                {
                    <AdminOfferingCard Id="@o.Id"
                                       Icon="@o.Icon"
                                       NameFi="@o.NameFi"
                                       NameEn="@o.NameEn"
                                       DescriptionFi="@o.DescriptionFi"
                                       DescriptionEn="@o.DescriptionEn"
                                       SeniorPrice="@o.SeniorPrice"
                                       JuniorPrice="@o.JuniorPrice"
                                       TraineePrice="@o.TraineePrice"
                                       OnDelete="DeleteOfferings"
                                       OnEdit="EditOffering" />
                }
            }
        </tbody>
    </table>
</div>

<div>
    <button class="btn btn-sm btn-outline-info" @onclick="CreateOffering">@L["ManageOfferings_CreateOfferingButton"]</button>
</div>
<div>
    <ConfirmDialog @ref="ConfirmDialog" />
</div>

@code {
    private List<AdminOfferingDto>? offerings;
    private ConfirmDialog? ConfirmDialog;

    protected override async Task OnInitializedAsync()
    {
        await LoadOfferings();
    }

    private async Task DeleteOfferings(Guid id)
    {
        if (await ConfirmDialog!.Show(L["ManageOfferings_ConfirmDelete"], L["ManagePages_Confirm"]))
        {
            var success = await OfferingsApiService.DeleteOfferingAsync(id);

            if (success)
            {
                await LoadOfferings();
            }
        }
    }

    private void EditOffering(Guid id) => Navigation.NavigateTo($"/admin/manage-offerings/edit-offering/{id}");
    private void CreateOffering() => Navigation.NavigateTo($"/admin/manage-offerings/create-offering");

    private async Task LoadOfferings()
    {
        offerings = await OfferingsApiService.GetOfferingsAsync();
    }
}
