@using GoldenBarbers.Client.Services;
@using System.Threading.Tasks
@using Shared.DTOs.Public
@using Shared.DTOs.Admin.Appointments

@page "/admin/manage-appointments"

@inject AdminAppointmentApiService AdminAppointmentsApiService
@inject Microsoft.Extensions.Localization.IStringLocalizer<SharedResources> L

<h1>@L["ManageAppointments_Title"]</h1>
<br />

<div class="mb-3 d-flex gap-2">
    <InputText style="max-width: 600px;" class="form-control"
               placeholder="@L["ManageAppointments_SearchPlaceholder"]"
               @bind-Value="filter.SearchTerm" />

    <button class="btn btn-primary" @onclick="ApplyFilters">
        @L["ManageAppointments_SearchButton"]
    </button>

    <button class="btn btn-secondary"
            @onclick="ResetFilters">
        @L["ManageAppointments_ResetButton"]
    </button>

</div>

<InputSelect style="max-width: 200px;" class="form-select"
             @bind-Value="filter.SearchBy">

    <option value="customer">@L["ManageAppointments_CustomerSearchValue"]</option>
    <option value="barber">@L["ManageAppointments_BarberSearchValue"]</option>
    <option value="service">@L["ManageAppointments_ServiceSearchValue"]</option>

</InputSelect>
<br />

<table style="max-width: 65vw;" class="table table-striped">
    <thead>
        <tr>
            <th>@L["ManageAppointments_TableReservationTime"]</th>
            <th>@L["ManageAppointments_TableDuration"]</th>
            <th>@L["ManageAppointments_TableCustomerName"]</th>
            <th>@L["ManageAppointments_TableCustomerEmail"]</th>
            <th>@L["ManageAppointments_TableBarberName"]</th>
            <th>@L["ManageAppointments_TableServiceName"]</th>
            <th>@L["ManageAppointments_TablePrice"]</th>
        </tr>
    </thead>
    <tbody style="min-height: 125px;">
        @if (appointments != null)
        {
            @foreach (var a in appointments)
            {
                <AdminAppointmentCard Id="@a.Id"
                                       AppointmentDateTime="@a.AppointmentDateTime"
                                       DurationMinutes="@a.DurationMinutes"
                                       CustomerName="@a.CustomerName"
                                       CustomerEmail="@a.CustomerEmail"
                                       BarberName="@a.BarberName"
                                       OfferingName="@a.OfferingName"
                                       FinalPrice="@a.FinalPrice"
                                       OnDelete="DeleteAppointment" />
            }
        }
    </tbody>
</table>

<div class="mt-3">
    <button class="btn btn-outline-primary"
            @onclick="PreviousPage"
            disabled="@(filter.Page == 1)">
        Previous
    </button>

    <span class="mx-2">
        Page @filter.Page
    </span>

    <button class="btn btn-outline-primary"
            @onclick="NextPage"
            disabled="@(filter.PageItems < 21)">
        Next
    </button>
</div>

<div>
    <ConfirmDialog @ref="ConfirmDialog" />
</div>


@code {
    private List<AppointmentDto>? appointments;

    private FilterDto filter = new()
    {
        Page = 1,
        PageSize = 20,
        PageItems = 0,
        SortBy = "date",
        SortByDescending = false
    };

    private ConfirmDialog? ConfirmDialog;

    protected override async Task OnInitializedAsync()
    {

        await LoadAppointments();
    }

    private async Task DeleteAppointment(Guid id)
    {
        if (await ConfirmDialog!.Show("Delete selected appointment?", "Confirm deletion?"))
        {
            var success = await AdminAppointmentsApiService.DeleteAppointmentAsync(id);

            if (success)
            {
                await LoadAppointments();
            }
        }
    }

    private async Task LoadAppointments()
    {
        appointments = await AdminAppointmentsApiService.GetAppointmentsAsync(filter);

        if (appointments != null)
        {
            filter.PageItems = appointments.Count();
        }
    }

    private async Task ApplyFilters()
    {
        filter.Page = 1;
        await LoadAppointments();
    }

    private async Task ResetFilters()
    {
        filter = new FilterDto
        {
            Page = 1,
            PageSize = 20,
            SortBy = "date"
        };

        await LoadAppointments();
    }

    private async Task NextPage()
    {
        filter.Page++;
        await LoadAppointments();
    }

    private async Task PreviousPage()
    {
        if (filter.Page > 1)
        {
            filter.Page--;
            await LoadAppointments();
        }
    }
}