@using GoldenBarbers.Client.Services;
@using System.Threading.Tasks
@using Shared.DTOs.Admin.Barbers

@inject AdminBarberApiService BarbersApiService
@inject NavigationManager Navigation
@inject Microsoft.Extensions.Localization.IStringLocalizer<SharedResources> L

@page "/admin/manage-barbers"

<h1>@L["ManageBarbers_Title"]</h1>
<br />

<div class="table-responsive">
    <table style="max-width: 75vw;" class="table table-striped">
        <thead>
            <tr>
                <th></th>
                <th>@L["ManageBarbers_TableName"]</th>
                <th>@L["ManageBarbers_TableDescriptionFin"]</th>
                <th>@L["ManageBarbers_TableDescriptionEng"]</th>
                <th>@L["ManageBarbers_TablePosition"]</th>
                <th>@L["ManageBarbers_TableSalary"]</th>
                <th>@L["ManageBarbers_TableStartingDate"]</th>
                <th>@L["ManageBarbers_TablePhone"]</th>
                <th>@L["ManageBarbers_TableEmail"]</th>
                <th>@L["ManageBarbers_TableAddress"]</th>
            </tr>
        </thead>
        <tbody>
            @if (barbers != null)
            {
                @foreach (var b in barbers)
                {
                    <AdminBarberCard Id="@b.Id"
                                     Portrait="@b.Portrait"
                                     Name="@b.Name"
                                     DescriptionFi="@b.DescriptionFi"
                                     DescriptionEn="@b.DescriptionEn"
                                     PositionName="@b.PositionName"
                                     Salary="@b.Salary"
                                     StartDate="@b.StartDate"
                                     PersonalPhone="@b.PersonalPhone"
                                     PersonalEmail="@b.PersonalEmail"
                                     PersonalAddress="@b.PersonalAddress"
                                     OnDelete="DeleteBarber"
                                     OnEdit="EditBarber" />
                }
        
            }
        </tbody>
    </table>
</div>

<div>
    <button class="btn btn-sm btn-outline-info" @onclick="CreateBarber">@L["ManageBarber_CreateBarberButton"]</button>
</div>
<div>
    <ConfirmDialog @ref="ConfirmDialog" />
</div>

@code {
    private List<AdminBarberDto>? barbers;

    private ConfirmDialog? ConfirmDialog;

    protected override async Task OnInitializedAsync()
    {
        barbers = await BarbersApiService.GetAllBarbersAsync();
    }

    private async Task DeleteBarber(Guid id)
    {
        if (await ConfirmDialog!.Show(L["ManageBarbers_ConfirmDelete"], L["ManagePages_Confirm"]))
        {
            var success = await BarbersApiService.DeleteBarberAsync(id);

            if (success)
            {
                barbers = barbers?.Where(b => b.Id != id).ToList();
            }
        }
    }

    private void EditBarber(Guid id) => Navigation.NavigateTo($"/admin/manage-barbers/edit-barber/{id}");

    private void CreateBarber() => Navigation.NavigateTo("/admin/manage-barbers/create-barber");
}
