@using GoldenBarbers.Client.Services.Public
@using System.Threading.Tasks
@using Shared.DTOs.Public

@page "/our-team"
@inject BarberApiService BarberService
@inject Microsoft.Extensions.Localization.IStringLocalizer<SharedResources> L

<div class="barberpage-title-container">
    <p class="barberpage-title-text">
        <strong>@L["Barbers_GeneralDescription1"]
            <br /><br />
            @L["Barbers_GeneralDescription2"]
        </strong>
    </p>
</div>

@if (barbers == null)
{
    <p class="custom-loader">Loading...</p>
}
else
{
    <div class="barber-container">
        @foreach (var b in barbers)
        {
            <BarberCard Portrait="@b.Portrait"
                        Name="@b.Name"
                        PositionName="@b.PositionName"
                        Description="@b.Description" />
        }
    </div>
}

@code {
    private List<BarberDto>? barbers;

    protected override async Task OnInitializedAsync()
    {
        barbers = await BarberService.GetBarbersAsync();
    }
}
