@using GoldenBarbers.Client.Services.Public;
@using System.Threading.Tasks
@using Shared.DTOs.Public
@using GoldenBarbers.Client.Helpers
@using System.Globalization

@inject AppointmentApiService AppointmentService
@inject BarberApiService BarberService
@inject OfferingApiService OfferingService
@inject Microsoft.Extensions.Localization.IStringLocalizer<SharedResources> L

@page "/booking-confirmed/{id:guid}"

@if (appointment == null)
{
    <p class="custom-loader">Loading...</p>
}
else
{
    <div class="booking-container">
        <div class="booking-text">
            <img class="booking-image" src="images/confirmation_picture.png" />
            <br />
            <h3>@L["ConfirmationPage_AppointmentConfirmed"]</h3>
            <br />
            <p>@L["ConfirmationPage_CustomerName"] @appointment.CustomerName</p>
            <p>@L["ConfirmationPage_Date"] @appointment.AppointmentDateTime.ToString("dd.MM.yyyy, HH:mm")</p>

            @if (appointment.BarberId == barber?.Id)
            {
                <p>@L["ConfirmationPage_BarberName"] @barber.Name</p>
            }

            @if (appointment.OfferingId == offering?.Id)
            {
                @if (CultureInfo.CurrentCulture.TwoLetterISOLanguageName == "fi")
                {
                    <p>@L["ConfirmationPage_ServiceName"] @offering.NameFi</p>
                }
                else
                {
                    <p>@L["ConfirmationPage_ServiceName"] @offering.NameEn</p>
                }
            }
            <p>@L["ConfirmationPage_Price"] @appointment.FinalPrice €</p>
        </div>
    </div>
}


@code {

    [Parameter]
    public Guid Id { get; set; }

    private AppointmentDto? appointment;
    private BarberDto? barber;
    private OfferingDto? offering;


    protected override async Task OnInitializedAsync()
    {
        appointment = await AppointmentService.GetByIdAsync(Id);

        if (appointment != null)
        {
            barber = await BarberService.GetBarberByIdAsync(appointment.BarberId);
            offering = await OfferingService.GetOfferingByIdAsync(appointment.OfferingId);
        }
    }
}
