@using GoldenBarbers.Client.Services.Public
@using System.Threading.Tasks
@using Shared.DTOs.Public
@using GoldenBarbers.Client
@using System.Globalization

@page "/" 

@inject CarouselApiService CarouselService
@inject OfferingApiService OfferingService
@inject NavigationManager Navigation
@inject Microsoft.Extensions.Localization.IStringLocalizer<SharedResources> L

<header class="carousel-container">

    @if (carousel == null)
    {
        <p class="custom-loader">Loading...</p>
    }
    else
    {
        @for (int i = 0; i < carousel.Count; i++)
        {
            <CarouselCard Icon="@carousel[i].Image"
                          Name="@carousel[i].Name"
                          IsActive="@(i == 0)" />
        }

    }
</header>



<div class="button-container">
    <div class="button-container-item">
        <button class="gold-button" @onclick="GoToBooking">@L["Home_BookAppointment"]</button>
    </div>
</div>

<div class="homepage-container">
    @if (CultureInfo.CurrentCulture.TwoLetterISOLanguageName == "en")
    {
        <br />
        <div class="booking-text">
            <p>--English localization is currently incomplete. Some content may appear in Finnish.--</p>
        </div>
    }

    <h2 class="homepage-container-item"><strong>@L["Home_OurServices"]</strong></h2>

    @if (offerings == null)
    {
        <p class="custom-loader">@L["General_Loading"]</p>
    }

    else
    {
        @foreach (var o in offerings)
        {
            <OfferingCard Name=@o.Name
                          Icon=@o.Icon
                          Description=@o.Description
                          TraineePrice=@o.TraineePrice />
        }
    }
</div>

<div>
    <div class="footer-container">
        <div class="footer-container-item">
            <h3>Golden Barbers</h3>
            <br />
            <h4>@L["Home_Address"]</h4>
            <p>
                Arkadiankatu 3
                <br />
                00100 Helsinki
                Finland
            </p>
            <h4>@L["Home_Contact"]</h4>
            <p>
                📞 +358 452224502
                <br />
                ✉
                <a href="mailto:info@goldenbarbers.fi">info@goldenbarbers.fi</a>
            </p>
            <h4>@L["Home_OpeningHours"]</h4>
            <p>
                @L["Home_MondayToSaturday"]
                <br />
                @L["Home_Sunday"]
            </p>
            <br />
            <button @onclick="GoToAdminLogin">@L["Home_AdminLoginButton"]</button>
        </div>
    </div>
</div>

<FooterInfo />


@code {
    private List<CarouselDto>? carousel;
    private List<OfferingDto>? offerings;
    private bool _initialized;

    private void GoToBooking()
    {
        Navigation.NavigateTo("/book-appointment");
    }

    private void GoToAdminLogin()
    {
        Navigation.NavigateTo("/Identity/Account/Login", forceLoad: true);
    }

    [Inject] IJSRuntime JS { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        carousel = await CarouselService.GetCarouselItemsAsync();
        offerings = await OfferingService.GetAllOfferingsAsync();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!_initialized && carousel != null)
        {
            _initialized = true;
            await JS.InvokeVoidAsync("carousel.init");
        }
    }
}
