@using GoldenBarbers.Client.Services;
@using System.Threading.Tasks
@using Shared.DTOs;

@page "/" 

@inject CarouselService CarouselService
@inject OfferingService OfferingService
@inject NavigationManager Navigation

<header class="carousel-container">

    @if (carousel != null)
    {


        @for (int i = 0; i < carousel.Count; i++)
        {
            <CarouselCard Icon="@carousel[i].Image"
                          Name="@carousel[i].Name"
                          IsActive="@(i == 0)" />
        }

    }
</header>

<div class="arrows-container">
    @if (carousel != null)
    {

        <a class="prev" onclick="carousel.changeSlide(-1)">❮</a>
        <a class="next" onclick="carousel.changeSlide(1)">❯</a>

    }
</div>

<div class="homepage-container">
    <div class="homepage-container-item">
        <button class="gold-button" @onclick="GoToBooking">Book Appointment</button>
    </div>
</div>

<div class="homepage-container">
    <h2 class="homepage-container-item">Our Services</h2>
</div>

<div class="homepage-container">
    @if (offerings != null)
    {
        @foreach (var offering in offerings)
        {
            <OfferingsCard Name="@offering.Name" 
                           Description="@offering.Description"
                           TraineePrice="@offering.TraineePrice"/>
        }
    }
</div>


@code {
    private List<CarouselDto>? carousel;

    private List<OfferingDto>? offerings;

    private bool _initialized;

    private void GoToBooking()
    {
        Navigation.NavigateTo("/book-appointment");
    }

    [Inject] IJSRuntime JS { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        carousel = await CarouselService.GetCarouselItemsAsync();
        offerings = await OfferingService.GetAllOfferingsAsync();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!_initialized && carousel != null)
        {
            _initialized = true;
            await JS.InvokeVoidAsync("carousel.init");
        }
    }
}
