@using GoldenBarbers.Client.Services.Admin;
@using Shared.DTOs.Admin.Dashboard;
@using GoldenBarbers.Client.Services;
@using System.Threading.Tasks
@using Shared.DTOs
@using GoldenBarbers.Client.Helpers


<tr>
    <td>@AppointmentDateTime.ToString("dddd, MMM dd yyyy HH:mm")</td>
    <td>@DurationMinutes</td>
    <td>@CustomerName</td>
    <td>@CustomerEmail</td>
    <td>@BarberName</td>
    <td>@OfferingName</td>
    <td>@FinalPrice €</td>
    <button class="btn btn-sm btn-outline-danger" @onclick="() => OnDelete.InvokeAsync(Id)">Delete</button>
</tr>


@code {
    [Parameter]
    public Guid Id { get; set; }

    [Parameter]
    public DateTime AppointmentDateTime { get; set; }

    [Parameter]
    public int DurationMinutes { get; set; } = 0;

    [Parameter]
    public string CustomerName { get; set; } = "";

    [Parameter]
    public string CustomerEmail { get; set; } = "";

    [Parameter]
    public string BarberName { get; set; } = "";

    [Parameter]
    public string OfferingName { get; set; } = "";

    [Parameter]
    public decimal FinalPrice { get; set; }


    [Parameter]
    public EventCallback<Guid> OnDelete { get; set; }
}
