@using GoldenBarbers.Client.Services.Admin;
@using Shared.DTOs.Admin.Dashboard;
@using GoldenBarbers.Client.Services;
@using System.Threading.Tasks
@using Shared.DTOs
@using GoldenBarbers.Client.Helpers
@using System.Globalization

@inject Microsoft.Extensions.Localization.IStringLocalizer<SharedResources> L

<tr>
    <td>@AppointmentDateTime.ToString("dd.MM.-yy, HH:mm")</td>
    <td>@DurationMinutes</td>
    <td>@CustomerName</td>
    <td>@CustomerEmail</td>
    <td>@BarberName</td>

    @if (CultureInfo.CurrentCulture.TwoLetterISOLanguageName == "fi")
    {
        <td>@OfferingNameFi</td>
    }
    else
    {
        <td>@OfferingNameEn</td>
    }

    <td>@FinalPrice €</td>
    <button class="btn btn-sm btn-outline-danger" @onclick="() => OnDelete.InvokeAsync(Id)">@L["GeneralAdmin_DeleteButton"]</button>
</tr>


@code {
    [Parameter]
    public Guid Id { get; set; }
    [Parameter]
    public DateTime AppointmentDateTime { get; set; }
    [Parameter]
    public int DurationMinutes { get; set; } = 0;
    [Parameter]
    public string CustomerName { get; set; } = "";
    [Parameter]
    public string CustomerEmail { get; set; } = "";
    [Parameter]
    public string BarberName { get; set; } = "";
    [Parameter]
    public string OfferingNameFi { get; set; } = "";
    [Parameter]
    public string OfferingNameEn { get; set; } = "";
    [Parameter]
    public decimal FinalPrice { get; set; }
    [Parameter]
    public EventCallback<Guid> OnDelete { get; set; }
}
