@using GoldenBarbers.Client.Services.Admin;
@using Shared.DTOs.Admin.Dashboard;

@inject NavigationManager Navigation
@inject Microsoft.Extensions.Localization.IStringLocalizer<SharedResources> L

<h2>@L["DashboardCard_Today"]</h2>
<div class="dashboard-container">
    <div class="dashboard-items">
        <button class="custom-dashboard-button btn btn-lg btn-outline-dark m-2">@L["DashboardCard_RevenueToday"] <br /> @RevenueToday €</button>
        <button class="custom-dashboard-button btn btn-lg btn-outline-dark m-2" onclick="@NavigateToAppointments">@L["DashboardCard_TodayAppointments"] <br /> @AppointmentsToday</button>
    </div>
</div>
<br />
<div class="dashboard-items">
    <h2>@L["DashboardCard_ThisWeek"]</h2>
    <button class="custom-dashboard-button btn btn-lg btn-outline-dark m-2" onclick="@NavigateToAppointments">@L["DashboardCard_UpcomingWeekAppointments"] <br /> @UpcomingWeek</button>
</div>
<br />
<h2>@L["DashboardCard_TodaySchedule"]</h2>
<table class="table table-striped">
    @if (TodaySchedule != null && AppointmentsToday != 0)
    {
        <tr>
            <th>@L["DashboardCard_ScheduleTableTime"]</th>
            <th>@L["DashboardCard_ScheduleTableCustomer"]</th>
            <th>@L["DashboardCard_ScheduleTableOffering"]</th>
            <th>@L["DashboardCard_ScheduleTableBarber"]</th>
        </tr>
        <tr>
            @foreach (var a in TodaySchedule)
            {
                <td>@a.Time.ToString("HH:mm")</td>
                <td>@a.CustomerName</td>
                <td>@a.OfferingName</td>
                <td>@a.BarberName</td>
            }
        </tr>
    }
    else
    {
        <tr>@L["DashboardCard_ScheduleTableEmpty"]</tr>
    }
</table>

@code {
    [Parameter]
    public int AppointmentsToday { get; set; }
    [Parameter]
    public int UpcomingWeek { get; set; }
    [Parameter]
    public decimal? RevenueToday { get; set; }
    [Parameter]
    public List<AdminDashboardAppointmentDto>? TodaySchedule { get; set; }

    private void NavigateToAppointments() => Navigation.NavigateTo("admin/manage-appointments");
}
