@using GoldenBarbers.Client.Services.Admin;
@using Shared.DTOs.Admin.Dashboard;

@inject Microsoft.Extensions.Localization.IStringLocalizer<SharedResources> L

<h2>@L["DashboardCard_Today"]</h2>
<div class="dashboard-container">
    <div class="dashboard-items">
        <button class="custom-dashboard-button btn btn-lg btn-outline-dark m-2">@L["DashboardCard_RevenueToday"] <br /> @RevenueToday €</button>
        <button class="custom-dashboard-button btn btn-lg btn-outline-dark m-2">@L["DashboardCard_TodayAppointments"] <br /> @AppointmentsToday</button>
    </div>
</div>
<br />
<div class="dashboard-items">
    <h2>@L["DashboardCard_ThisWeek"]</h2>
    <button class="custom-dashboard-button btn btn-lg btn-outline-dark m-2">@L["DashboardCard_UpcomingWeekAppointments"] <br /> @UpcomingWeek</button>
</div>

@code {
    [Parameter]
    public int AppointmentsToday { get; set; }
    [Parameter]
    public int UpcomingWeek { get; set; }
    [Parameter]
    public decimal? RevenueToday { get; set; }
}
