@using GoldenBarbers.Client.Services.Admin;
@using Shared.DTOs.Admin.Metrics;

@inject Microsoft.Extensions.Localization.IStringLocalizer<SharedResources> L

<h2>@L["MetricsCard_Metrics"]</h2>
<div class="dashboard-container">
    <div class="dashboard-items">
        @if (RevenueChangeCount == null)
        {
            <button class="custom-dashboard-button btn btn-lg btn-outline-dark m-2">@L["MetricsCard_DataNotAvailable"]</button>
        }
        else
        {
            @if (AppointmentsChangeCount >= 0)
            {
                <button class="custom-dashboard-button btn btn-lg btn-outline-dark m-2">@L["MetricsCard_AppointmentChange"] <br />@AppointmentsChangeCount.Value.ToString("F1") %</button>
            }
            else if (AppointmentsChangeCount < 0)
            {
                <button class="custom-dashboard-button btn btn-lg btn-outline-dark m-2">@L["MetricsCard_AppointmentChange"] <br />@AppointmentsChangeCount.Value.ToString("F1") %</button>
            }


            @if (RevenueChangeCount >= 0)
            {
                <button class="custom-dashboard-button btn btn-lg btn-outline-dark m-2">@L["MetricsCard_RevenueChange"] <br />@RevenueChangeCount.Value.ToString("F1") %</button>
            }
            else if (RevenueChangeCount < 0)
            {
                <button class="custom-dashboard-button btn btn-lg btn-outline-dark m-2">@L["MetricsCard_RevenueChange"] <br />@RevenueChangeCount.Value.ToString("F1") %</button>
            }

        }
    </div>
</div>


@code {
    [Parameter]
    public decimal? AppointmentsChangeCount { get; set; }
    [Parameter]
    public decimal? RevenueChangeCount { get; set; }

}
