@inject Microsoft.Extensions.Localization.IStringLocalizer<SharedResources> L


<nav class="navbar-nav p-4">
    <NavLink class="custom-nav-item" href="admin" Match="NavLinkMatch.All">
        <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> @L["AdminNavMenu_Dashboard"]
    </NavLink>
    <NavLink class="custom-nav-item" href="admin/manage-appointments" Match="NavLinkMatch.All">
        <span class="custom-nav-link" aria-hidden="true"></span> @L["AdminNavMenu_ManageAppointments"]
    </NavLink>
    <NavLink class="custom-nav-item" href="admin/manage-barbers" Match="NavLinkMatch.All">
        <span class="custom-nav-link" aria-hidden="true"></span> @L["AdminNavMenu_ManageBarbers"]
    </NavLink>
    <NavLink class="custom-nav-item" href="admin/manage-offerings" Match="NavLinkMatch.All">
        <span class="custom-nav-link" aria-hidden="true"></span> @L["AdminNavMenu_ManageOfferings"]
    </NavLink>
    <p style="color: gray;">_________</p>
    <NavLink class="custom-nav-item" href="/" Match="NavLinkMatch.All">
        <span class="custom-nav-link" aria-hidden="true"></span> @L["AdminNavMenu_BackToSite"]
    </NavLink>
</nav>

<!--TODO: Add language selector-->

@code {

}
